$font-size-xs: 12px;
$font-size-s: 16px;
$font-size-m: 24px;
$font-size-l: 32px;
$font-size-xl: 64px;
$font-size-xxl: 90px;

%fasthand-400 {
  font-family: "Fasthand";
  font-weight: 400;
}

%roboto-900 {
  font-family: "Roboto";
  font-weight: 900;
}

%roboto-900 {
  font-family: "Roboto";
  font-weight: 500;
}

@mixin font-fasthand-400-xl($color) {
  @extend %fasthand-400;
  font-size: $font-size-xl;
  color: $color;
}

@mixin font-fasthand-400-l($color) {
  @extend %fasthand-400;
  font-size: $font-size-l;
  color: $color;
}

@mixin font-fasthand-400-m($color) {
  @extend %fasthand-400;
  font-size: $font-size-m;
  color: $color;
}

@mixin font-fasthand-400-s($color) {
  @extend %fasthand-400;
  font-size: $font-size-s;
  color: $color;
}

@mixin font-roboto-900-xxl($color) {
  @extend %roboto-900;
  font-size: $font-size-xxl;
  color: $color;
}

@mixin font-roboto-900-l($color) {
  @extend %roboto-900;
  font-size: $font-size-l;
  color: $color;
}

@mixin font-roboto-900-m($color) {
  @extend %roboto-900;
  font-size: $font-size-m;
  color: $color;
}

@mixin font-roboto-900-s($color) {
  @extend %roboto-900;
  font-size: $font-size-s;
  color: $color;
}
@mixin font-roboto-900-xs($color) {
  @extend %roboto-900;
  font-size: $font-size-xs;
  color: $color;
}

@mixin font-roboto-500-s($color) {
  @extend %roboto-500;
  font-size: $font-size-s;
  color: $color;
}

@mixin font-roboto-500-xs($color) {
  @extend %roboto-500;
  font-size: $font-size-xs;
  color: $color;
}
