$padding-xxl: 64px;
$padding-xl: 32px;
$padding-l: 24px;
$padding-m: 16px;
$padding-s: 8px;

$margin-xxl: 64px;
$margin-xl: 32px;
$margin-l: 24px;
$margin-m: 16px;
$margin-s: 8px;

$image-hawk: url(./static/hawk.webp);
