//BASE
@import './base/colors.scss';
@import './base/variables.scss';
@import './base/icon.scss';
@import './base/typography.scss';

//REUSABLE
@import './reusable/button.scss';
@import './reusable/marker.scss';
@import './reusable/layouts.scss';

//COMPONENTS
@import './components/body.scss';
@import './components/navigator.scss';
@import './components/banner.scss';
@import './components/services.scss';
@import './components/team.scss';
@import './components/footer.scss';


