@mixin button-outlined($color) {
  @include font-roboto-900-s($color);
  padding: $padding-s $padding-l;
  background-color: rgba(255, 255, 255, 0);
  border: 2px $color solid;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

@mixin button-filled($color-text, $color-fill) {
  @include font-roboto-500-xs($color-text);
  padding: $padding-s $padding-l;
  background-color: $color-fill;
  border: unset;
  &:hover {
    cursor: pointer;
  }
}

@mixin button-underscored($color-text, $color-hover) {
  @include font-roboto-900-xs($color-text);
  @include underscore-interactive($color-hover);
  padding: $padding-s 0;
  background-color: rgba(255, 255, 255, 0);
  border: unset;

  &:hover {
    cursor: pointer;
    color: $color-hover;
  }
}

%button-social {
  background-color: $yellow;
  padding: $padding-s;
  &:hover {
    background-color: $pink;
    cursor: pointer;
    svg {
      fill: white;
    }
  }
  svg {
    @extend %icon-size-s;
    fill: $pink;
  }
}
