@mixin button-outlined($color) {
  @include font-roboto-900-s($color);
  padding: $padding-s $padding-l;
  background-color: rgba(255, 255, 255, 0);
  border: 2px $color solid;

  &:hover {
    cursor: pointer;
  }
}

@mixin button-filled($color, $color-fill) {
  @include font-roboto-500-xs($color);
  padding: $padding-s $padding-l;
  background-color: $color-fill;
  border: unset;
  &:hover {
    cursor: pointer;
  }
}

@mixin button-underscored($color, $color-hover) {
  @include font-roboto-900-xs($color);
  padding: $padding-s 0;
  background-color: rgba(255, 255, 255, 0);
  border: unset;
  &:hover {
    cursor: pointer;
    color: $color-hover;
    border-bottom: solid 2px $color-hover;
  }
}
