.services-icon {
  width: 32px;
  height: 32px;
}

.team-title-top, .services-title-top, .banner-title-top {
  font-family: "Fasthand";
  font-weight: 400;
}

.team-description, .team-title-bottom, .services-description, .services-name, .services-title-bottom, .banner-button, .banner-title-bottom {
  font-family: "Roboto";
  font-weight: 900;
}

.team-description, .team-title-bottom, .services-description, .services-name, .services-title-bottom, .banner-button, .banner-title-bottom {
  font-family: "Roboto";
  font-weight: 500;
}

.marker-line {
  width: 50px;
  height: 3px;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: #f48484;
}

.body {
  display: grid;
  grid-template-columns: repeat(16, 6.25%);
  grid-template-rows: auto 24px auto 24px auto;
}

.banner {
  display: grid;
  grid-template-columns: repeat(16, 6.25%);
  grid-template-rows: 50px auto 50px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
}

.team {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
}

.team-avatar {
  display: grid;
  grid-template-rows: auto 50px auto;
}

.body {
  padding: 24px;
  margin: 0;
}

.banner {
  grid-column: 1/span 16;
  grid-row: 1;
  background: linear-gradient(#ea8687, #f1d98a);
}

.banner-content {
  grid-column: 6/12;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-title-top {
  font-size: 64px;
  color: white;
  margin: 0;
  text-align: center;
}

.banner-title-bottom {
  font-size: 90px;
  color: white;
  margin-top: 0;
  margin-bottom: 64px;
  text-align: center;
}

.banner-button {
  font-size: 16px;
  color: white;
  padding: 8px 24px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px white solid;
}
.banner-button:hover {
  cursor: pointer;
}

.services {
  grid-column: 3/15;
  grid-row: 3;
}

.services-title {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-title-top {
  font-size: 24px;
  color: black;
  margin: 0;
  text-align: center;
}

.services-title-bottom {
  font-size: 24px;
  color: black;
  margin-top: 0;
  text-align: center;
}

.services-icon {
  margin-right: 24px;
}

.services-name {
  font-size: 12px;
  color: black;
  margin-bottom: 16px;
}

.services-description {
  font-size: 12px;
  color: #b9b9b9;
  line-height: 1.5;
}

.services-digital, .services-css, .services-seo, .services-creativity, .services-design, .services-photography {
  display: flex;
  padding-right: 24px;
  padding-bottom: 24px;
}

.services-photography {
  grid-column: 1;
  grid-row: 2;
}

.services-design {
  grid-column: 2;
  grid-row: 2;
  display: flex;
}

.services-creativity {
  grid-column: 3;
  grid-row: 2;
  display: flex;
}

.services-seo {
  grid-column: 1;
  grid-row: 3;
  display: flex;
}

.services-css {
  grid-column: 2;
  grid-row: 3;
  display: flex;
}

.services-digital {
  grid-column: 3;
  grid-row: 3;
  display: flex;
}

.team {
  grid-column: 3/15;
  grid-row: 5;
}

.team-title {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-title-top {
  font-size: 24px;
  color: black;
  margin: 0;
  text-align: center;
}

.team-title-bottom {
  font-size: 24px;
  color: black;
  margin-top: 0;
  text-align: center;
}

.team-description {
  font-size: 12px;
  color: #b9b9b9;
  grid-column: 1/span 3;
  grid-row: 2;
  padding-bottom: 32px;
  line-height: 1.5;
  text-align: center;
}

.team-content {
  margin-right: 32px;
  grid-column: 1;
  grid-row: 3;
  background-color: #94e4d4;
}

.team-avatar {
  background: linear-gradient(#ea8687, #f1d98a);
  transition: transform 0.2s;
}
.team-avatar:hover {
  transition: transform 0.2s;
  transform: translate(-8px, -8px);
}

.team-avatar-image {
  width: 100%;
  grid-column: 1;
  grid-row: 1/3;
  object-fit: contain;
  transition: opacity 0.2s;
}
.team-avatar-image:hover {
  transition: opacity 0.2s;
  opacity: 0.1;
}

/*# sourceMappingURL=styles.css.map */
