.banner {
  @extend %layout-banner;
  grid-column: 1 / 17;
  grid-row: 1;
  background: $gradient-transparent;
}

.banner-content {
  grid-column: 6 / 12;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-image {
  grid-column: 1 / 17;
  grid-row: 1 / 6;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner-title-top {
  @include font-fasthand-400-xl(white);
  margin: 0;
  text-align: center;
}

.banner-title-bottom {
  @include font-roboto-900-xxl(white);
  margin-top: 0;
  margin-bottom: $margin-xxl;
  text-align: center;
}

.banner-button {
  @include button-outlined(white);
}
