.footer {
  @extend %layout-services;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 3 / 15;
  grid-row: 7;
  margin-bottom: $margin-xl;
  padding-top: $padding-s;
  border-top: $border-tiny;
}

.footer-text {
  @include font-roboto-500-xs(black);
}

.footer-subscribe {
  display: flex;
}

.footer-input {
  border: $border-tiny;
}

.footer-button {
  @include button-filled(white, $green);
}
