.navigator {
  grid-column: 3 / 15;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigator-title {
  @include font-roboto-900-l(white);
  margin: 0;
}

.navigator-content {
  display: flex;
  align-items: center;
  gap: $margin-xl;
}

.navigator-button {
  @include button-underscored(white, $yellow);
}

.navigator-icon {
  @include button-underscored(white, $yellow);
  padding: 0;
  svg {
    @extend %icon-size-s;
    fill: white;
  }
  &:hover {
    svg {
      fill: $yellow;
    }
  }
}
