.services {
  @extend %layout-services;
  grid-column: 3 / 15;
  grid-row: 3;
}

.services-title {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-title-top {
  @include font-fasthand-400-m(black);
  margin: 0;
  text-align: center;
}

.services-title-bottom {
  @include font-roboto-900-m(black);
  margin-top: 0;
  text-align: center;
}

.services-icon {
  @extend %icon-size;
  margin-right: $margin-l;
  svg {
    width: 32px;
    height: 32px;
  }
}

.services-name {
  @include font-roboto-500-xs(black);
  margin-bottom: $margin-m;
}

.services-description {
  @include font-roboto-500-xs($grey);
  line-height: 1.5;
}

%services-element {
  display: flex;
  padding-right: $margin-l;
  padding-bottom: $margin-l;
}

.services-photography {
  @extend %services-element;
  grid-column: 1;
  grid-row: 2;
}

.services-design {
  @extend %services-element;
  grid-column: 2;
  grid-row: 2;
  display: flex;
}

.services-creativity {
  @extend %services-element;
  grid-column: 3;
  grid-row: 2;
  display: flex;
}

.services-seo {
  @extend %services-element;
  grid-column: 1;
  grid-row: 3;
  display: flex;
}

.services-css {
  @extend %services-element;
  grid-column: 2;
  grid-row: 3;
  display: flex;
}

.services-digital {
  @extend %services-element;
  grid-column: 3;
  grid-row: 3;
  display: flex;
}
