.team {
  @extend %layout-team;
  grid-column: 3 / 15;
  grid-row: 5;
}

.team-title {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-title-top {
  @include font-fasthand-400-m(black);
  margin: 0;
  text-align: center;
}

.team-title-bottom {
  @include font-roboto-900-m(black);
  margin-top: 0;
  text-align: center;
}

.team-description {
  @include font-roboto-500-xs($grey);
  grid-column: 1 / span 3;
  grid-row: 2;
  padding-bottom: $padding-xl;
  line-height: 1.5;
  text-align: center;
}

@mixin team-content($column) {
  margin-right: $margin-xl;
  grid-column: $column;
  grid-row: 3;
  background-color: $green;
}

.team-content-1 {
  @include team-content(1)
}

.team-content-2 {
  @include team-content(2)
}

.team-content-3 {
  @include team-content(3)
}

.team-avatar {
  @extend %layout-team-avatar;
  background: linear-gradient($start-gradient, $end-gradient);
  transition: transform $transition-time;
  &:hover {
    transition: transform $transition-time;
    transform: translate(-$margin-s, -$margin-s);
  }
}

.team-avatar-image {
  width: 100%;
  grid-column: 1;
  grid-row: 1 / span 5;
  transition: opacity $transition-time;
  &:hover {
    transition: opacity $transition-time;
    opacity: 0.1;
  }
}

// .team-name {
//   @include font-roboto-900-s(black);
//   text-align: center;
//   grid-row: 6;
// }
