.team {
  @extend %layout-team;
  grid-column: 3 / 15;
  grid-row: 5;
}

.team-title {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-title-top {
  @include font-fasthand-400-m(black);
  margin: 0;
  text-align: center;
}

.team-title-bottom {
  @include font-roboto-900-m(black);
  margin-top: 0;
  text-align: center;
}

.team-description {
  @include font-roboto-500-xs($grey);
  grid-column: 1 / span 3;
  grid-row: 2;
  padding-bottom: $padding-xl;
  line-height: 1.5;
  text-align: center;
}

@mixin team-content($column) {
  @extend %layout-team-content;
  margin-right: $margin-xl;
  grid-column: $column;
  grid-row: 3;
}

.team-content-1 {
  @include team-content(1);
}

.team-content-2 {
  @include team-content(2);
}

.team-content-3 {
  @include team-content(3);
}

.team-avatar-background {
  grid-row: 1 / 5;
  background-color: $green;
}

.team-avatar {
  background: $gradient;
  transition: transform $transition-time;
  &:hover {
    transition: transform $transition-time;
    transform: translate(-$margin-s, -$margin-s);
  }
}

.team-avatar-image {
  width: 100%;
  transition: opacity $transition-time;
  &:hover {
    transition: opacity $transition-time;
    opacity: 0.1;
  }
}

.team-name {
  @include font-roboto-500-xs(black);
  margin-top: $margin-l;
  text-align: center;
  grid-row: 6;
}

.team-role {
  @include font-roboto-300-xs($grey);
  margin-top: $margin-s;
  text-align: center;
  font-style: italic;
  grid-row: 7;
}
